# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python application

# on:
#   push:
#     branches: [ "feature/build_testing" ]
#   pull_request:
#     branches: [ "feature/build_testing" ]

permissions:
  contents: read

jobs:
  build:
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
        cache: 'pip' # caching pip dependencies
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: create exe
      run: |
        pyinstaller --onefile demo/demo_interactive_serial.py

    # Uploads artifact
    - name: Upload Artifact
      uses: actions/upload-artifact@v3
      with:
        name: Logger ${{ runner.os }} Build
        path: dist/

